<section class="whiteTouts u-bgWhite {% if home %} js-home-section {% endif %}">
	<div class="container">
		<div class="row">
			{% for item in section.modules %}
				<div class="{% if loop.length == 3 %} col-md-4 {% elseif loop.length == 2 %} col-md-6 {% else %} col {% endif %} whiteTout-item">
					<div class="whiteTout">
						<h3 class="u-textGreen">{% if item.enter_custom_content %} {{ item.custom_headline }} {% else %} {{  TimberPost( item.module_page[0] ).title  }}  {% endif %}</h3>
						<p class="u-textGreen">{% if item.enter_custom_content %} {{ item.custom_description }} {% else %} {{  TimberPost( item.module_page[0] ).get_field('page_description')  }}  {% endif %}</p>
						<a href="{% if item.enter_custom_content %} {{ item.custom_button_link }} {% else %} {{  TimberPost( item.module_page[0]).link  }}  {% endif %}" class="link link--arrow link--green">
						{% if item.button_text %}
							{{ item.button_text }}
						{% else %}
							Learn More
						{% endif %}</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>